body {
	margin: 0;
	padding: 0;
	font-family:sans-serif;
	background: #e0e0e0 url('resources/img/bg003.png') repeat;
	/* background: #eeeeee; */
	color: #606060;
	height:100%;
}

#global-container {
	margin: 0;
	padding: 0;
	width: 100%;
}

#test {
	position: relative;
	top: 20px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.80);
}

#result-container {
	padding: 1em 20px 2em 20px;
}

#results {
	margin: 1em 0 2em 0;
}

#results dl dt {
	margin: 1.5em;
}

#results dl dt em {
	font-weight: bold;
}

.formContainer {
	margin: 0 24px 0 24px;
}

#imageArea {
	padding: 45px 0 10px 0;
	width: 100%;
}

img.center {   display: block;   margin-left: auto;   margin-right: auto; }

form {
	border: none;
}

fieldset {
	border: none;
}

p {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

form div.required {
	margin: 1.2em 0 0 0;
}

div.buttons {
	margin: 2em 0 0 0;
	border-top: 1px solid #ffaaaa;
	height: 40px;
	background: #ffffee;
}

.buttons input {
	margin: 12px 12px 12px 0;
	float: right;
}

label {
	display: block;
}

.catchpa p {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 1em;
}

/**
 * TABLE styles
 */
table
{
	border: none;
}

th, td {
	padding: 0.20em;
}

th
{
	background-color: lightgrey;
	color: black;
	border-bottom: 1px solid black;
}

tr.even {
	background: #eeeeee;
}

tr.odd {
	background: #ffffff;
}

table caption {
	text-align: left;
	font-style:italic;
	color: black;
	margin: 0 0 12px 0;
	font-size: 1.75em;
}
